.red-button{
    color:white;
    background-color:red;
}
.button{
    height:50px;
    width:100px;
}
.blue-button{
    color:white;
    background-color: blue;
}
button, select{
    text-transform: none;
}
button, input{
    overflow: visible;
}